* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --red: #a31621;
  --white: #fcf7f8;
  --darkGray: #343434;
  --gray: #ced3dc;
  --blueText: #5ce9de;
  --blackText: #030807;
  --grayText: #312c23;
  --whiteText: #cbcbcb;
}